/* main */
* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #333;
  color: white;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  font-family: 'Roboto';
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* fonts */
@font-face {
  font-family: Exo;
  src: url('../fonts/Exo 2.0/Exo2-Regular.otf');
}

@font-face {
  font-family: Exo--bold;
  src: url('../fonts/Exo 2.0/Exo2-Bold.otf');
}

@font-face {
  font-family: Exo--bold-italic;
  src: url('../fonts/Exo 2.0/Exo2-BoldItalic.otf');
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto--medium;
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
}